@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Nunito:wght@500&family=Ubuntu&family=Work+Sans&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: rgb(0, 0, 0);
}
#starter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 10px;
}
#starter:hover {
    animation: 0.7s bord;
}
@keyframes bord {
    0% {
        width: 180px;
        height: 75px;
        border: 2px solid rgb(154, 210, 255);
    }
    25% {
        width: 180px;
        height: 75px;
        border: 2px solid rgb(103, 255, 199);
    }
    50% {
        width: 220px;
        height: 100px;
        border: 2px solid rgb(243, 255, 132);
    }
    75% {
        width: 260px;
        height: 125px;
        border: 2px solid rgb(255, 155, 233);
    }
    100% {
        width: 300px;
        height: 150px;
        border: 2px solid #ff5f5f;
    }
}
.starter-btn {
    cursor: pointer;
    color: white;
    background-color: inherit;
    border: 2px solid rgb(206, 199, 199);
    border-radius: 5px;
    font-size: 1.4rem;
    width: 140px;
    height: 50px;
    font-family: "Nunito";
    transition: 0.6s;
}
.starter-btn:hover {
    scale: 1.1;
    color: bisque;
    border: 2px solid rgb(255, 175, 175);
}
.starter-btn.hidden {
    opacity: 0;
}
.btn-anim {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    letter-spacing: 4px;
}


/*----------------------------------------------------------*/

.container.hidden {
    display: none;
    transition: 1s;
    opacity: 0;
}
.container {
    display: block;
    opacity: 1;
}


#topbar {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(210, 161, 161);
    backdrop-filter: blur(35px);
    height: 80px;
    padding: 15px 20px;
    z-index: 99;
}
.right {
    display: flex;
    cursor: pointer;
    margin: 0 30px;
}
.right img {
    max-width: 90%;
    display: block;
}
.nectar {
    display: flex;
    color: rgb(255, 255, 255);
    margin: 0 40px;
    font-size: 50px;
    align-self: center;
    font-family: "Inconsolata";
}
.t {
    transition: 0.3s;
}
.nectar:hover .t.a, .btn-anim:hover .t.a {
    transform: translate(-6px,0px) rotate(17deg) scale(1.2);
    color: rgb(255, 204, 142);
    letter-spacing: 5px;
}
.nectar:hover .t.b, .btn-anim:hover .t.b {
    transform: translate(-4px,-5px) rotate(-13deg) scale(1.1);
    color: rgb(232, 255, 189);
    letter-spacing: 5px;
}
.nectar:hover .t.c, .btn-anim:hover .t.c {
    transform: translate(-4px,-5px) rotate(-5deg) scale(1.1);
    color: rgb(255, 222, 196);
    letter-spacing: 5px;
}
.buttons {
    align-self: center;
}
.btn {
    cursor: pointer;
    margin-left: 20px;
    color: white;
    background-color: inherit;
    border: 2px solid rgb(206, 199, 199);
    border-radius: 10px;
    font-size: 1.2rem;
    width: 120px;
    height: 40px;
    font-family: "Nunito";
    transition: 0.3s;
}
.btn:hover {
    scale: 1.1;
    color: bisque;
    border: 2px solid rgb(255, 175, 175);
}


#background-video {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}


.uploads {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: rgb(196, 201, 206);
    position: absolute;
    height: 70vh;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    font-family: "Work Sans";
    font-size: 30px;
    padding: 20px;
    border: 2px solid rgb(255, 202, 202);
}

#picture {
    display: none;
}
#pic-adder {
    display: inline-block;
    height: 5.5vh;
    width: 150px;
    background-color:#000000;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    font-family: 'Nunito';
    transition: 0.15s ease-in-out;
    padding-top: 6px;
}
#submit-btn {
    display: none;
}
#submit-label {
    display: inline-block;
    height: 5.5vh;
    width: 150px;
    background-color:#000000;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    font-family: 'Nunito';
    transition: 0.15s ease-in-out;
    padding-top: 7px;
}
#preview {
    margin: 10px 0;
    display: none;
    max-height: 50vh;
    transition: 0.4s;
}
#results {
    color: #ffffff;
    font-size: 20px;
}